{% from "macros.jinja" import icon with context%}
<!doctype html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}" data-bs-theme="dark">
	<head>
{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{ SITEURL }}/static/favicon.png" />

		{% block meta %}{% endblock %}

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/darkplaces.min.css">

		{% block css %}{% endblock %}

		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

{%   if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
		      type="application/atom+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Full Atom Feed" />
{%   endif %}
{%   if FEED_ALL_RSS %}
		<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
		      type="application/rss+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Full RSS Feed" />
{%   endif %}
{%   if FEED_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}"
		      type="application/atom+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Atom Feed" />
{%   endif %}
{%   if FEED_RSS %}
		<link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}"
		      type="application/rss+xml"
		      rel="alternate"
		      title="{{ SITENAME }} RSS Feed" />
{%   endif %}
{%   if CATEGORY_FEED_ATOM and category %}
		<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}"
		      type="application/atom+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Categories Atom Feed" />
{%   endif %}
{%   if CATEGORY_FEED_RSS and category %}
		<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}"
		      type="application/rss+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Categories RSS Feed" />
{%   endif %}
{%   if TAG_FEED_ATOM and tag %}
		<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}"
		      type="application/atom+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Tags Atom Feed" />
{%   endif %}
{%   if TAG_FEED_RSS and tag %}
		<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}"
		      type="application/rss+xml"
		      rel="alternate"
		      title="{{ SITENAME }} Tags RSS Feed" />
{%   endif %}
{% endblock head %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top px-2">
				<a class="navbar-brand" href="{{ SITEURL }}/">
					<img src="{{ SITEURL }}/static/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
					{{ SITENAME }}
				</a>
				<button class="navbar-toggler"
				        type="button"
				        data-bs-toggle="collapse"
				        data-bs-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent"
				        aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav mr-auto">

						<li class="nav-item{% if page and page.slug in ['engine', 'features', 'options'] %} active{% endif %}">
							<a class="nav-link" href="{{ SITEURL }}/engine/">Engine</a>
						</li>

						<li class="nav-item{% if page and page.slug in ['editing', 'code', 'graphics', 'havocbot', 'hmap2', 'rtlights'] %} active{% endif %}">
							<a class="nav-link" href="{{ SITEURL }}/editing/">Editing</a>
						</li>

{% if DISPLAY_PAGES_ON_MENU %}
{%   for p in pages %}
{%     if not p.parent %}
{%       if p.children %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle{% if page == p %} active{% endif %}"
							   href="{{ SITEURL }}/{{ p.url }}"
							   id="navbarDropdown"
							   role="button"
							   data-toggle="dropdown"
							   aria-haspopup="true"
							   aria-expanded="false">
								{{ p.title }}
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
{%         for child in p.children %}
								<a class="dropdown-item{% if page == child %} active{% endif %}" href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a>
{%         endfor %}
							</div>
						</li>
{%       else %}
						<li class="nav-item{% if page == p %} active{% endif %}">
							<a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
						</li>
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}


{% if DISPLAY_CATEGORIES_ON_MENU %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle"
							   href="{{ SITEURL }}/news/"
							   id="navbarDropdown"
							   role="button"
							   data-toggle="dropdown"
							   aria-haspopup="true"
							   aria-expanded="false">
								News
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
{%   for cat, null in categories %}
								<a class="dropdown-item{% if cat == category %} active{% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
{%   endfor %}
							</div>
						</li>
{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ SITEURL }}/news/">News</a>
						</li>
{% endif %}
					</ul>
				</div>

				<a class="btn btn-outline-secondary mx-1" style="color: #ed1d24" href="https://www.youtube.com/channel/UCpxzIq3X9c6n3vJyR16LS9A/" target="_blank" title="YouTube">
					{{ icon('youtube') }}
				</a>

				<a class="btn btn-outline-secondary mx-1" style="color: #FC6D26" href="https://github.com/DarkPlacesEngine/darkplaces" target="_blank" title="Github">
					{{ icon('github') }}
				</a>

				<a class="btn btn-outline-secondary mx-1" style="color: #FC6D26" href="https://matrix.to/#/!TNgKZFEINLTBkSrZnx:matrix.org" target="_blank" title="Matrix">
					{{ icon('matrix') }}
				</a>

				<a class="btn btn-outline-secondary mx-1" style="color: #7289DA" href="https://discord.gg/ZHT9QeW" target="_blank" title="Discord">
					{{ icon('discord') }}
				</a>
			</nav>

{%   block header %}
{%     if not banner %}
{%       if page and page.banner %}
{%         set banner = page.banner %}
{%       else %}
{%         set banner = HEADER_COVER %}
{%       endif %}
{%     endif %}
			<section class="jumbotron text-center bg-dark text-white" style="background-image: url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/banners/{{ banner }})">
				<div class="container">
					<h1 class="display-4">{% block header_title %}{{ SITENAME }}{% endblock %}</h1>
					<p class="lead my-3">{% block header_subtitle %}{{ SITESUBTITLE }}{% endblock %}</p>
				</div>
			</section>
{%   endblock %}
		</header>

		<main role="main" class="container-fluid position-relative">
			{% block content %}{% endblock %}
		</main>

		<footer>
			<div class="container text-center pt-4">
				<p>
					© Copyright <strong>LadyHavoc</strong>. All Rights Reserved
				</p>
				<p>
					Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
				</p>
			</div>
		</footer>

		<!-- Optional JavaScript -->
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
	</body>
</html>
