{% extends "page.html" %}



{% block aside %}
	<nav class="w-100">
		<ul class="list-unstyled">
			{% for p in hidden_pages if p.template == "editing" %}
				<li class="list-unstyled">
					<a href="{{ SITEURL }}/{{ p.url }}" style="color: var(--bs-body-color)" class="w-100 align-items-center fw-semibold text-decoration-none">
						{{ p.icon }}
						{{ p.title }}
					</a>

					<ul class="list-unstyled fw-normal pb-2 small">
						{% if p.tree %}
							{% for i in p.tree.children recursive %}
								<li class="ms-4">
									<a href="{{ SITEURL }}/{{ p.url }}#{{ i.id }}">{{ i.header }}</a>
									{% if i.children %}
										<ul  class="list-unstyled fw-normal pb-2 small">
											{{ loop(i.children) }}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}



{% block main_content %}
	{{ page.content }}
{% endblock %}
