{% extends "page.html" %}



{% block aside %}
	{% for p in hidden_pages %}
		{% if p.template == page.template %}
			<span style="color: var(--bs-body-color)" class="w-100 align-items-center fw-semibold text-decoration-none">{{ p.title }}</span>

			<ul class="list-unstyled fw-normal pb-2 small">
				{% if p.tree %}
					{% for i in p.tree.children recursive %}
						<li class="ms-4">
							<a href="{{ SITEURL }}/{{ p.url }}#{{ i.id }}">{{ i.header }}</a>
							{% if i.children %}
								<ul  class="list-unstyled fw-normal pb-2 small">
									{{ loop(i.children) }}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		{% endif %}
	{% endfor %}
{% endblock %}



{% block page_content %}
	{{ page.content }}
{% endblock %}
