{% extends "base.html" %}



{% block header %}
			<div class="jumbotron p-5 p-md-5 text-white rounded bg-dark text-center"
			     style="background-image: url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/banners/{{ page.banner }})">
				<div class="video-background">
					<video autoplay auto muted poster="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/banners/{{ page.banner }}" id="video-background">
						<!--<source src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/banners/{{ page.banner }}" data-ext="webm"/>-->
					</video>
				</div>
			     <div class="container">
					<h1 class="display-4 fw-bold">{% block header_title %}{{ SITENAME }}{% endblock %}</h1>
					<p class="lead my-3">{% block header_subtitle %}{{ SITESUBTITLE }}{% endblock %}</p>
					<a class="btn btn-sm" onclick="updateVideoSource()" style="position: absolute; bottom: 0; right: 0"><i class="fa fa-forward"></i></a>
				</div>
			</div>

			<script type="text/javascript">
				'use strict';

				var vidNum = 0;
				var vidElement = document.getElementById("video-background");
				var playlist = [
					'demo1.webm',
					'demo2.webm',
					'demo3.webm'
				];

				vidElement.addEventListener('ended', updateVideoSource, false);

				function updateVideoSource() {
					var sources = vidElement.getElementsByTagName('source');
					var vidURL = '{{ SITEURL }}/static/videos/' + playlist[vidNum++];

					for (var i = 0; i < playlist.length; i++) {
						vidElement.setAttribute('src', vidURL);
					}

					vidElement.load();
					vidElement.play();

					if (vidNum >= playlist.length) {
						vidNum = 0;
					}
				}

				// start play videos on the homepage after 5 seconds
				setTimeout(updateVideoSource, 5000);
			</script>
{% endblock %}



{% block content %}
<div class="container">
	<section id="introduction" class="py-5">
		<h1>About</h1>
		<blockquote class="blockquote">
			<p>
				DarkPlaces is a <a href="{{ SITEURL }}/mod/">Quake modification</a> I have built over the course of 6 years on and off experimenting, it got somewhat of an overhaul when the Quake engine source code was released, and I began developing a <a href="{{ SITEURL }}/engine/">custom OpenGL-only engine</a> for it and other mods, which supports Windows WGL and Linux GLX, and has greatly improved graphics and image quality.
			</p>
			<p>
				It can not easily be described, as it is simply an improved Quake, not a total conversion (yet, anyway).
			</p>
			<p>
				The realism of shell casings falling to the floor, much improved bullet impacts, 32bit color alpha blended explosions, blood flying everywhere and sticking to the walls...
			</p>
			<p>
				Behind the scenes the code has changed a great deal, I was not content with the original QuakeC code, and I have greatly changed the engine while maintaining compatibility with normal quake modifications.
			</p>
			<footer class="blockquote-footer"><cite>LadyHavoc</cite></footer>
		</blockquote>
	</section>

	<section id="features">
		<div class="row no-gutters">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ SITEURL }}/static/home/feature-lighting.jpg');"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h1>Real-time Lighting</h1>
				<p class="lead mb-0">Support for real-time coloured lighting, shadowing, and bump-mapped textures.</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ SITEURL }}/static/home/feature-editing.jpg');"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h1>Built-in Light Editor</h1>
				<p class="lead mb-0">Edit the real-time lighting directly within the game.</p>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ SITEURL }}/static/home/feature-bots.jpg');"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h1>Bots</h1>
				<p class="lead mb-0">Deadly digital deathmatch opponents who don't understand liquids or walls.</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}
