{# Used as the index for blog/articles #}
{% extends "sidebar.html" %}



{% macro authorimg(author) -%}
{{ SITEURL }}/static/authors/{{ author|string|lower }}.png
{%- endmacro %}



{% set HEADER_COVER = "e4m1.jpg" %}
{% block title %}{{ SITENAME }} - News{% endblock %}
{% block header_title %}News{% endblock %}
{% block header_subtitle %}The latest news and updates around the DarkPlaces projects{% endblock %}



{% block aside %}
	<div class="card">
		<div class="card-body d-flex flex-column align-items-start">
			<h4 class="card-title text-primary">Tags</h4>
			<p class="card-text">
				{% for tag, _ in tags|sort %}
				<a href="{{ SITEURL }}/{{ tag.url }}" class="badge badge-info">{{ tag }}</a>
				{% endfor %}
			</p>
		</div>
	</div>
{% endblock %}



{% block main_content %}
	<!-- index.html -->
{% for article in (articles_page.object_list if articles_page else articles) %}
	<article>
		<section>
			<h2>{{ article.title }}</h2>
			<div class="d-flex align-items-center mb-4 text-muted author-info">
				<a class="d-flex align-items-center text-muted text-decoration-none" href="{{ SITEURL }}/{{ article.author.url }}" target="_blank" rel="noopener">
					<img class="mb-0 me-2 rounded-2"
					     srcset="{{ authorimg(article.author) }}?size=32, {{ authorimg(article.author) }}?size=64 2x"
					     src="{{ authorimg(article.author) }}?size=32"
					     alt=""
					     width="32"
					     height="32">
					<span>{{ article.author }}</span>
				</a>
				<span class="d-flex align-items-center ms-3" title="20 Feb 24 15:22 UTC">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="me-2" viewBox="0 0 16 16" role="img" fill="currentColor">
						<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
					</svg>
					{{ article.locale_date }}
				</span>
			</div>
		</section>

		<section>
			{{ article.content }}
			{#<a class="btn btn-sm btn-primary" href="{{ SITEURL }}/{{ article.url }}">Read more →</a>#}
		</section>
	</article>
{% endfor %}
</div>

{%   include 'includes/pagination.html' %}

{% endblock %}
