{% extends "base.html" %}
{% from "macros.jinja" import toc with context %}


{% macro thumb(img, alt) %}
<div class="col mb-4">
	<div class="card shadow-sm">
		<a href="{{ SITEURL }}/static/media/{{ img }}">
			<img src="{{ SITEURL }}/static/media/thumbnails/{{ img }}"
			     alt="{{ alt }}"
			     class="img-thumbnail">
		</a>
	</div>
</div>
{% endmacro %}


{% block content %}
<section class="row">
	<div class="col">
		<section class="row mb-4 pt-5">
			<div class="col">
				<h2>High-Detail Textures</h2>

				<p>Some screenshots of <a href="https://icculus.org/twilight/darkplaces/files/rygel-dp-texturepack-high.pk3">Rygel's High-Quality</a> (900MB pk3) texture set running in dpmod:</p>

				<div class="row row-cols-1 row-cols-md-3">
					{{ thumb("rygelpack_pretty1.jpg", "Quake start map with Rygel's texture pack") }}
					{{ thumb("rygelpack_pretty2.jpg", "Quake e1m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty3.jpg", "Quake e1m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty4.jpg", "Quake e2m5 with Rygel's texture pack") }}
					{{ thumb("rygelpack_pretty5.jpg", "Quake e2m5 with Rygel's texture pack") }}
					{{ thumb("rygelpack_pretty6.jpg", "Quake e4m3 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty7.jpg", "Quake e3m6 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty8.jpg", "rygel's texture pack") }}
					{{ thumb("rygelpack_pretty9.jpg", "Quake e4m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty10.jpg", "Quake e4m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty11.jpg", "Quake e4m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty12.jpg", "Quake e4m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty13.jpg", "Quake e3m1 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty14.jpg", "Quake e3m1 map with rygel's texture pack on e1m1") }}
					{{ thumb("rygelpack_pretty15.jpg", "Quake e3m2 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty16.jpg", "Quake e4m7 map with rygel's texture pack") }}
					{{ thumb("rygelpack_pretty17.jpg", "Quake e4m7 map with rygel's texture pack") }}
				</div>
			</div>
		</section>

		<section class="row mb-4">
			<div class="col">
				<h2>Nexuiz</h2>

				<p>Some screenshots of the upcoming <a href="http://alientrap.org/nexuiz/">Nexuiz</a> version 2.3.1:</p>

				<div class="row row-cols-1 row-cols-md-3">
					{{ thumb("nexuiz_pretty1.jpg", "Nexuiz 2.3.1") }}
					{{ thumb("nexuiz_pretty2.jpg", "Nexuiz 2.3.1") }}
					{{ thumb("nexuiz_pretty3.jpg", "Nexuiz 2.3.1") }}
					{{ thumb("nexuiz_pretty4.jpg", "Nexuiz 2.3.1") }}
					{{ thumb("nexuiz_pretty5.jpg", "Nexuiz 2.3.1") }}
					{{ thumb("nexuiz_pretty6.jpg", "Nexuiz 2.3.1") }}
				</div>
			</div>
		</section>

		<section class="row">
			<div class="col">
				<h2>Old</h2>

				<p>A screenshot sent in by Marcos Gonzalez Troyas, showing the wonderous Quake start room with the <tt>r_shadow_bumpscale_basetexture</tt> option (I think a value around 8?), and romi's rtlights pack.</p>

				<div class="row row-cols-1 row-cols-md-3">
					{{ thumb("dpshadows_start.jpg", "Real-time lighting view of Quake start halls") }}
				</div>

				<p>U8Poo sent in this screenshot of realtime lighting in a q3bsp map he made, looks nice...</p>

				<div class="row row-cols-1 row-cols-md-3">
					{{ thumb("dpimp.jpg", "Real-time lighting") }}
				</div>
			</div>
		</section>
	</div>
</section>
{% endblock %}
