{% extends "base.html" %}



{% block content %}
	<div class="row">
		<aside class="col-3 pt-5">
			{% block aside %}{% endblock %}
		</aside>

		<main class="col-9 p-5">
			{% block main_content %}{% endblock %}
		</main>
	</div>
{% endblock %}
