// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap-5.3.3/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap-5.3.3/scss/variables";
@import "bootstrap-5.3.3/scss/variables-dark";

// 4. Include any default map overrides here
$primary: #fd7e14;
$body-bg: #30333b;
$body-color: #949ba2;
$headings-color: white;
$nav-link-hover-color: white;

@import "bootstrap-5.3.3/scss/bootstrap";

// 8. Add additional custom code here

.icon {
	display: inline-block;
	width: 1em;
}
.btn-primary {
	color: white;
	background-color: $primary;
	border-color: shade-color($primary, 10%);
}
.btn-primary:hover {
	color: white;
	background-color: shade-color($primary, 10%);
	border-color: shade-color($primary, 50%);
}
.jumbotron {
	margin-top: 56px;

	background-position: top center;
	background-size: cover;
	position: relative;

	border-radius: 0;
	z-index: 0;

	box-shadow: inset 0px 0px 20px 20px #000;
}
.jumbotron > .container {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

.jumbotron > .container h1 {
	text-shadow: 4px 4px black;
}

#variables > table td:nth-child(-n+2),
#commands > table td:first-child {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 87.5%;
	color: #e83e8c;
	word-break: break-word;
}

.video-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	pointer-events: none;
}
.video-background > video {
	width: 0;
	min-width: 100%;
	min-height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#features .showcase-text {
	padding: 3rem
}
#features .showcase-img {
	min-height: 30rem;
	background-size: cover;
	background-position: center center;
}

@media (min-width:768px) {
	#features .showcase-text {
		padding:7rem
	}
}
blockquote.blockquote {
	border-left: 1px solid;
	padding-left: 1em;
}

// Anchored headings end up under the top navbar
// to we need to move the anchor up a bit
:target {
  display: block;
  position: relative;
  top: -6em;
  visibility: hidden;
}


table td {
	vertical-align: top;
	padding-right: 1em;
}
table td > code {
	white-space: nowrap;
}

pre > code {
  display: block;
  padding: 1em;
  background-color: #0d0d0d;
  border: 1px solid #303030;
}



body {
	background-color: #30333b;
	color: #949ba2;
}
h1, h2, h3, h4, h5, h6 {
	color: white;
}

#content {
	padding-top: 2em;
}

aside {
	background-color: rgb(0, 0, 0, 0.5);
	padding-top: 2em;
	max-width: 20em;
}

aside .list-group-item {
	background-color: transparent;
	border-color: transparent;
}
.card {
	background-color: rgb(255, 255, 255, 0.1);
}
aside .list-group-item > a {
	color: white;
}

.img-thumbnail {
	padding: 0;
}